@import "../../shere/assets/scss/mixin";

.grid {
  width: 100vw;
  height: 100vh;

  &__line {
    height: 25%;
    width: 100%;
    background-color: #FFD1DC;

    &:not(:last-child){
      border-bottom: 2px solid #F9F4F5;
    }
  }
}

.welcome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  &__grid {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(40);

    height: 100vh;

    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-style: normal;
  }

  &__title,
  &__text {
    margin: 0;
    @include fluid-text(86, 36);
  }

  &__img {
    width: rem(180);
    transition: all 0.3s ease-in-out;

    @media (max-width: 992px) {
      width: rem(150);
    }
    @media (max-width: 540px) {
      width: rem(100);
    }
  }
}